snippet wdb "Set WDB breakpoint" b
import wdb; wdb.set_trace()
endsnippet

snippet ipdb "Set WDB breakpoint" b
import ipdb; ipdb.set_trace()
endsnippet

snippet # "Set file encoding" b
# -*- coding: utf-8 -*-
endsnippet
